[user]
	name = Matthew Cowie
	email = matthew@cowie.me
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[pull]
	rebase = true
[url "https://code.neotericdesign.com"]
  insteadOf = neo
[url "https://code.neotericdesign.com/clients"]
  insteadOf = cl:
[url "https://github.com"]
  insteadof = gh
[alias]
  st = status
  cm = commit -m
  br = branch
  co = checkout
  df = diff
  lg = log -p
  branches = branch -a
  tags = tag
  stashes = stash list
  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~
  amend = commit --amend
  nevermind = !git reset --hard HEAD && git clean -d -f
  precommit = diff --cached --diff-algorithm=minimal -w

# icdiff
[alias]
  showtool = "!f() { git difftool $1^ $1; }; f"
  added = difftool --cached
[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[pager]
  difftool = true
