# Identity
#
[include]
    path = ~/.gitconfig-identity

# Core settings
#
[core]
	excludesfile = ~/.gitignore
	editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[init]
  defaultBranch = main
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

# Aliases & shortcuts
#
[url "https://github.com"]
  insteadof = gh
[url "https://gitlab.com"]
  insteadof = gl
[alias]
  st = status
  cm = commit -m
  br = branch
  co = checkout
  df = diff
  lg = log -p
  branches = branch -a
  tags = tag
  stashes = stash list
  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~
  amend = commit --amend
  nevermind = !git reset --hard HEAD && git clean -d -f
  precommit = diff --cached --diff-algorithm=minimal -w
  showtool = "!f() { git difftool $1^ $1; }; f"
  added = difftool --cached
  back = checkout @{-1}

# Delta difftool config
#
[delta]
  features = decorations
  hyperlinks = true
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
