fishd.*
fish/.config/fish/fundle
fish/.config/fish/functions
fish/.config/fish/fish_variables
fish/.config/fish/completions


sublime-text/.config/sublime-text/Installed Packages
sublime-text/.config/sublime-text/Packages
sublime-text/.config/sublime-text/Local